/* Contact.css */
.contact-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px;
    background-color: #1a1a1d;
    color: #f0f0f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.contact-info, .contact-form-wrapper {
    flex: 1;
    min-width: 300px;
    margin: 20px;
    padding: 20px;
    background-color: #333;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
.contact-info h2{
    padding-top: 100px;
}

.contact-info h2, .contact-form-wrapper h2 {
    margin-bottom: 20px;
    color: #f0f0f0;
}

.contact-info p {
    margin: 10px 0;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #f0f0f0;
    text-align: center;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #666;
    border-radius: 5px;
    background-color: #ffffff;
    color: #0b0707;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: #ccc;
}

.contact-form button {
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #0056b3;
}
