/* src/components/Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fdfdfd;
    color: white;
    position: relative;
    z-index: 1000;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.navbar-brand a {
    color: black;
    text-decoration: none;
    font-size: 2.0em;
}
.navbar-brand {
    display: flex;
}
@keyframes navLinkHover {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-3px);
    }
    100% {
        transform: translateY(0);
    }
}

.navbar-links a:hover {
    animation: navLinkHover 0.3s ease forwards;
    color: #fdfdfd;
    background-color: #011d45;
    padding: 15px;
}

.navbar-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navbar-links li {
    margin-left: 20px;
}

.navbar-links a {
    color: black;
    text-decoration: none;
    font-size: 1em;
}

.burger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.burger-menu .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
    transition: 0.4s;
}

.burger-menu .bar.open:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.burger-menu .bar.open:nth-child(2) {
    opacity: 0;
}

.burger-menu .bar.open:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}

@media (max-width: 768px) {
    .burger-menu {
        display: flex;
    }

    .navbar-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #333;
    }

    .navbar-links.open {
        display: flex;
    }

    .navbar-links li {
        margin: 15px 0;
        text-align: center;
    }

    .navbar-links a {
        font-size: 1.2em;
    }
}
