/* NewsFeed.css */
.news-feed {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 50px;
}
.news-feed h2 {
    text-align: center;
}
.news-item {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: rgba(140, 140, 234, 0.5);
}
.news-item:hover, .h2 {
    background-color: darkcyan;
    color: white;
}

.news-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.news-item-details {
    padding: 20px;
}

.news-item-details h3 {
    margin-top: 0;
}

.news-item-details p {
    margin-bottom: 0;
}
