/* ProductPage.css */
.product-page {
    position: relative;
    min-height: 100vh;
    background-color: gray;
    color: #f0f0f0; /* Light text color for contrast */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slideshow-container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin-bottom: 20px;
}

.slide-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.centered-image {
    max-width: 150px;
    height: auto;
    margin-bottom: 20px;
}

.product-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
    margin-bottom: 20px;
}

.news-section, .info-section {
    background-color: #2a2a2d;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    flex: 1;
    min-width: 300px;
    text-align: center;
}

.single-news-item img, .info-section img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.single-news-item h2, .info-section h2 {
    margin-top: 10px;
    font-size: 1.5em;
}

.single-news-item p, .info-section p {
    margin-top: 10px;
    line-height: 1.5;
}

.more-button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.contact-button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #2b2828;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.order-button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #132132;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.more-button:hover {
    background-color: #45a049;
}
.contact-button:hover {
    background-color: #0b0707;
}
.order-button:hover{
    background-color: #011d45;
}

.contact-section {
    background-color: #7e8b9c;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 100%;
    max-width: 800px;
}

.footer {
    background-color: #011d45;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
    position: sticky;
    bottom: 0;
}
.burger-menu {
    background-color: #3c3a3a;
}
@media (max-width: 768px) {
    .product-content {
        flex-direction: column;
        align-items: center;
    }

    .news-section, .info-section {
        min-width: 90%;
        margin: 10px 0;
    }

    .slide-content h1, p  {
        padding: 0 10px;
        font-size: 14px;
    }
    .centered-image{
        max-width: 50px;
    }
}

@media (max-width: 480px) {
    .centered-image {
        max-width: 100px;
    }

    .single-news-item h2, .info-section h2 {
        font-size: 1.2em;
    }

    .more-button, .order-button, .contact-button {
        padding: 8px 16px;
    }
}
