.App {
  font-family: Arial, sans-serif;
  text-align: center;
}

.product-page, .order-form, .news-feed, .contact-info {
  padding: 20px;
}

img, video {
  max-width: 100%;
  height: auto;
}

@media (max-width: 600px) {
  .product-page ul {
    padding: 0;
    list-style: none;
  }

  .order-form div {
    margin-bottom: 10px;
  }
}
